.movie-item {
  height: 25em;
  width: 15em;
  margin: 5px;
  padding: 20px 20px;
  opacity: 0.7;
  background: #504c4c;

  .thumbnail {
    height: 85%;
    max-width: 95%;
  }

  &,
  .thumbnail {
    cursor: pointer;
    transition: 0.3s ease-in;
    border-radius: 15px;
  }
  &:hover {
    &,
    .thumbnail {
      opacity: 1;
      background: #283f68;
      transition: 1s ease;
      border-radius: 75px;
    }
  }
  &:active {
    transform: scale(0.75);
  }
}
