h3 {
  margin: 40px 0 0;
}
h2 {
  margin: 0;
  padding: 0;
}

a {
  color: #42b983;
}

#movie-details-panel {
  width: 30%;
  margin: 0;
  img {
    width: 50%;
    height: auto;
    border-radius: 40px;
    margin: 10px;
    padding: 10px;
  }
  .movie-title {
    font-weight: bolder;
    color: #faf181;
  }
  .tag-section {
    display: flex;
    justify-content: center;

    .tag {
      background: #283f68;
      margin: 3px;
      padding: 5px;
      border-radius: 10px;
    }
  }
}
.fade-enter-active {
  transition: opacity 2s;
}
.fade-leave-active {
  transition: opacity 2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
