#movie-search-component {
  width: 50%;
  height: 70%;

  border-radius: 15px;
  transition: all 0.2s ease;
  padding-left: 10px;
  background: white;
  justify-self: center;

  #search-box-movie {
    width: 94%;
  }
  #clear-search {
    width: 5%;
    cursor: pointer;
  }
  #clear-search,
  #search-box-movie {
    height: 70%;
    margin-top: 0.7%;
    margin-bottom: 0.5%;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
  }
  &:focus {
    &,
    #clear-search,
    #search-box-movie {
      transform: scale(1.3);
      outline: none;
    }
  }
  img {
    width: content-box;
    height: available;
  }
}
