#movie-list-section {
  justify-content: end;
  max-width: 50%;
  transition: all 0.3s ease;
}
h2 {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 10px;
}
//Not working
.displace-enter-active,
.displace-leave-active {
  transition: opacity 5s;
}
.displace-enter,
.displace-leave {
  opacity: 0;
}
#movie-search {
  width: 50%;
  #search-box-movie {
    width: 100%;
    border-radius: 15px;
  }
}
