h3 {
  margin: 40px 0 0;
}
h2 {
  margin: 0;
  padding: 0;
}

a {
  color: #42b983;
}

#movie-details-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 3%;

  #details-title {
  }

  img {
    border-radius: 40px;
    margin: 10px;
    padding: 10px;
  }
  #details {
    padding: 5vh;
    * {
      padding: 1vh;
    }
  }

  .movie-title {
    margin-top: auto;
    font-weight: bolder;
    color: #faf181;
  }
  .tag-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;

    .tag {
      background: #283f68;
      margin: 3px;
      padding: 5px;
      border-radius: 10px;
    }
  }
}
.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-leave-active {
  transition: opacity 0s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
