#home {
  display: grid;
  grid-template-areas:
    "title title"
    "search search"
    "facets results";
  grid-template-columns: 25% 75%;

  #facets-component {
    grid-area: facets;
  }

  #home-title {
    grid-area: title;
  }

  #movie-search-component {
    grid-area: search;
  }

  #movie-results-component {
    grid-area: results;
  }
}
